@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600');

html:root {
  --font-extra-small: .5rem;
  --font-small: .8rem;
  --font-normal: 1rem;
  --font-normal-x2: 1.2rem;
  --font-big: 1.5rem;
  --font-extra-big: 2.4rem;
}
